body {
  background: rgb(38, 41, 34);
  color: #FFF;
  font-family: sans-serif;
}

.box-grass {
  position: fixed;
  left: 5px;
  bottom: 5px;
  height: 75vh;
  width: calc(100vw - 10px);
}

.box-text {
  position: fixed;
  text-align: center;
  font-weight: bolder;
  top: 30vh;
  font-size: 20vh;
}